{% load static %}
<!DOCTYPE html>

<html class="no-js" lang="">
	<head>
		<title>{% block title %}{% endblock %}</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

    	<link rel="stylesheet" href="{% static 'css/index.css' %}">
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    	<link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">

    	{% block more_links %}{% endblock %}
	</head>

	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
  			<div class="container-fluid">
	    		<div class="navbar-header">
		      		<a class="navbar-brand" href="{% url 'references' %}">
		      			<img src="{% static 'image/house-icon.png' %}"></img>
		      		</a>
	    		</div>
	    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      		<ul class="nav navbar-nav">
		      		</ul>
	    		</div>
  			</div>
    	</nav>

    	{% block main_content %}{% endblock %}

	    <footer class="footer">
	      <div class="footer navbar-fixed-bottom">
	        <div id="footer_box">
	          <p class="text-muted">
	          	<a id="lil_thing" href="{% url 'group' %}">made with love by group c</a></p>
	        </div>
	      </div>
	    </footer>

	    <script src="http://code.jquery.com/jquery.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	    {% block more_scripts %}{% endblock %}

	</body>

</html>