{% extends 'base.html' %}
{% load static %}

<h2>references</h2>

{% block title %}References{% endblock title %}

{% block more_links %}
 <link rel="stylesheet" href="{% static 'css/references.css' %}">
{% endblock more_links %}

{% block main_content %} 
  <div id="table" class="table-editable">
    <span class="table-add glyphicon glyphicon-plus"></span>
    <table class="table">
      <tr>
        <th>Title</th>
        <th>Link</th>
        <th>Notes</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td contenteditable="true">Stir Fry</td>
        <td contenteditable="true">stir-fry</td>
        <td contenteditable="true">stir-fry</td>
        <td>
          <span class="table-remove glyphicon glyphicon-remove"></span>
        </td>
      </tr>
      <!-- This is our clonable table line -->
      <tr class="hide">
        <td contenteditable="true">Untitled</td>
        <td contenteditable="true">undefined</td>
        <td contenteditable="true">undefined</td>
        <td>
          <span class="table-remove glyphicon glyphicon-remove"></span>
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock main_content %}

{% block more_scripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script> 
    <script src="http://listjs.com/assets/javascripts/list.min.js"></script>
    <script src="{% static 'js/references.js' %}" type="text/javascript"></script>
{% endblock more_scripts %}
