
{% extends 'base.html' %}
{% load static %}

{% block title %}login{% endblock title %}

{% block more_links %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="{% static 'js/signup.js' %}">
{% endblock more_links %}

{% block main_content %}
    <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab"><a href="#login">Log In</a></li>
    </ul>

    <div class="login-page"></div>

    <div class="span9">
        <p id="title">
            Citation Manager
        </p>
    </div>

    <div class="form">
        <form>
            <p id="form_title">Sign up</p>
            <div class = "top-row">
			          <div class = "field-wrap">
				            <label>
                        Name<span class="req">*</span>
                    </label>
              	    <input type="text" placeholder = "example: John Smith" required autocomplete="off"/>
                </div>
            </div>
            <div class="field-wrap">
                <label>
                	Email Address<span class="req">*</span>
                </label>
                <input type="email" placeholder = "johnsmith@email.com" required autocomplete="off"/>
            </div>
            <div class="field-wrap">
                <label>
                	Set your Password<span class="req">*</span>
                </label>
                <input type="password" placeholder = "*******" required autocomplete="off" id="password"/>
            </div>
            <div class="field-wrap">
                <label>
                  Confirm Password<span class="req">*</span>
                </label>
                <input type="password" placeholder = "*******" required autocomplete="off" id="confirm_password"/>
            </div>
            <button button id="signup-btn">sign up</button>
            <p class="message">Already registered? <a href="{% url 'login' %}">Log in</a></p>
        </form>
    </div>

{% endblock main_content %}

{% block more_scripts %}

{% endblock more_scripts %}